#### Add your code below following the instructions given in the course

Excercise 2 - Created Markdown with H1 Style
# Data Science Tools and Ecosystem

Exercise 3 - Created a markdown cell for an introduction
# In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Created a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. R
5. Julia

Exercise 5 Created a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. TensorFlow
5. Plotly

Exercise 6 - Created a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Tableau |
| PowerBI |
| Microsoft SQL Server |
| IDM DB2 |
| Oracle Database |
| Informatica |
| Watson Studio Desktop |

Exercise 7 - Created a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
10+15

25

In [5]:
11*11

121

In [6]:
99-49

50

In [8]:
46//5

9

## Exercise 8 - Created a code cell to multiply and add numbers

In [12]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

# Exercise 9 - Created a code cell to convert minutes to hours

In [13]:
# this will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
Popular languages for Data Science:
- Python
- Java
- C++
- R
- Julia

# Exercise 11 - Created a markdown cell to indicate the Author's name

## Author
Vinod Kumar